<h1 xmlns="http://www.w3.org/1999/html">Owners</h1>
<div>
  <button onclick="location.href='/add-owner'" type="button">
    Create Owner</button>
</div>
<br/>
<div class = "container">
  <table   class="table">
    <thead>

      <th>№</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Actions</th>

    </thead>
    <tr *ngFor = "let owner of owners">

<!--      <td >{{owner.id}}</td>-->
      <td>{{owner.firstName}}</td>
      <td>{{owner.lastName}}</td>
      <td>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">

         <button (click) = "redirect('owner-detail/'+ owner.id!)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit">details</span></button>
        &nbsp;|&nbsp;

        <button (click) = "deleteOwner(owner.id!)"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">delete</span></button>
          &nbsp;|&nbsp;
          <button (click) = "redirect('update-owner/'+ owner!.id!)"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">edit</span></button>

         </div>
        </div>
      </td>
    </tr>
    <tr *ngIf = "owners && owners.length == 0">
      <td colspan = "3">No records found!</td>
    </tr>
  </table>

</div>


