<h1>Devices</h1>

<div class = "container">
  <table   class="table">
    <thead>

    <th>№</th>
    <th>Type</th>
    <th>Name</th>
    <th>Code</th>
    <th>Owner</th>
    <th>Status</th>
    <th>Actions</th>

    </thead>
    <tr *ngFor = "let device of devices">

      <!--      <td >{{owner.id}}</td>-->
      <td>{{device.type}}</td>
      <td>{{device.name}}</td>
      <td>{{device.code}}</td>
      <td>{{device.owner!.firstName +" "+ device.owner!.lastName}}</td>
      <td>{{device.status}}</td>
      <td>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button (click) = "redirect('update-device/'+ device.id!)"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">edit</span></button>
            &nbsp;|&nbsp;
            <button (click) = "deleteDevice(device.id!)"  class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">delete</span></button>

          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf = "devices && devices.length == 0">
      <td colspan = "3">No records found!</td>
    </tr>
  </table>
</div>

