<!--<div *ngIf="owner">-->

<!--&lt;!&ndash;  <app-hero-detail [owner]="selectedOwner"></app-hero-detail>&ndash;&gt;-->

<!--  <h2>{{owner.firstName, owner.lastName | uppercase}} Details</h2>-->

<!--  <div><span>id: </span>{{owner.id}}</div>-->
<!--  <div>-->
<!--    <label>firstName:-->
<!--      <input [(ngModel)]="owner.firstName" placeholder="name"/>-->
<!--    </label>-->
<!--    <label>lastName:-->
<!--      <input [(ngModel)]="owner.lastName" placeholder="name"/>-->
<!--    </label>-->
<!--  </div>-->

<!--</div>-->
