  <h2>{{owner!.firstName}} {{owner!.lastName}} details:</h2>

<table   class="table1">
  <thead>

  <th>Id</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Actions</th>

  </thead>
  <tr>

    <td >{{owner!.id}}</td>
    <td>{{owner!.firstName}}</td>
    <td>{{owner!.lastName}}</td>
    <td>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">

        <button (click) = "redirect('update-owner/'+ owner!.id!)"  class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-trash">edit</span></button>

        </div>
      </div>
    </td>
  </tr>

</table>

<h2>{{owner!.firstName}}'s Devices</h2>

<button (click) = "redirect('add-device/'+ owner!.id!)" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit">Add Device</span></button>
<br/>
<br/>

<div class = "container">
  <table   class="table">
    <thead>

    <th>№</th>
    <th>Type</th>
    <th>Name</th>
    <th>Code</th>
    <th>Status</th>
    <th>Actions</th>

    </thead>
    <tr *ngFor = "let device of owner!.devices">

      <td>{{device.type}}</td>
      <td>{{device.name}}</td>
      <td>{{device.code}}</td>
      <td>{{device.status}}</td>
      <td>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button (click) = "redirect('update-device/'+ device.id!)"  class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash">edit</span></button>
            &nbsp;|&nbsp;
            <button (click) = "deleteDevice(device.id!)"  class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash">delete</span></button>

          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf = "owner!.devices && owner!.devices!.length == 0">
      <td colspan = "5">No records found!</td>
    </tr>
  </table>
</div>


