<h1> Create Owner</h1>
<div class="container">
  <div >
<!--  <div (owner Obj) = 'random($event)'>-->
    <form class="form-horizontal">
<!--      <input type = "hidden" [(ngModel)] = "owner.id" name = "id" />-->
      <br/>
      <div class="form-group">
        <label class="control-label col-sm-2">First name</label>
        <div class="col-sm-8">
          <input type = "text" [(ngModel)] = "owner.firstName" name = "firstName" class="form-control" />
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label class="control-label col-sm-2">Last name</label>
        <div class="col-sm-8">
          <input type = "text" [(ngModel)] = "owner.lastName" name = "lastName" class="form-control" />
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label class="control-label col-sm-2">Password</label>
        <div class="col-sm-8">
          <input type = "text" [(ngModel)] = "owner.password" name = "password" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <br/>
        <div class="col-sm-offset-2 col-sm-8">
          <button (click) = "addOwner(owner)" class = "btn btn-primary">Create Owner</button>
        </div>
      </div>
    </form>
  </div>
</div>
