body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:  #174dba;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #32a314;
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #174dba;
  color: rgba(52, 141, 27, 0.99);
}


